<IfModule mod_rewrite.c>
RewriteEngine on

# 1-level
RewriteRule ^statistik!asalsekolah{0,1}$  statistik.php [QSA,L]
RewriteRule ^statistik!dota{0,1}$  statistik.dota.php [QSA,L]
RewriteRule ^statistik!indeks{0,1}$  statistik.indeks.php [QSA,L]
RewriteRule ^laporan!pdftn{0,1}$  l.pendaftaran.php [QSA,L]

RewriteRule ^dashboard/{0,1}$  index.php [QSA,L]


RewriteRule ^statistik!jurusan{0,1}$  statistik.jurusan.php [QSA,L]
RewriteRule ^statistik!indeks{0,1}$  statistik3.php [QSA,L]
RewriteRule ^gantipassword/{0,1}$  pass.php [QSA,L]
RewriteRule ^logout!panitia/{0,1}$  logoutpanitia.php [QSA,L]
RewriteRule ^login/{0,1}$  login.php [QSA,L]
RewriteRule ^laporan!kls{0,1}$  l.lulus.php [QSA,L]

</IfModule>